{% extends 'admin/adminbase.html' %}

{% block content %}
{% load static %}

<div class="container py-5" style="border-radius: 5px; box-shadow: 4px 4px 5px;">
    <div class="row">
        <div class="col-md-12 max-auto" style="border-radius: 6px; border: 4px; border-color: rgb(218, 13, 13);">
            <div class="col-sm-6" style="border-color: rgb(248, 250, 248); background-color:rgb(61, 212, 16); border: 4px; border-color: white;">
                <h3><i>A Product Video For:</i>  <b>{{media.title}}</b></h3><hr>
                {% if media.video_file %}
                   <video width="400px" height="400px" controls="controls">
                      <source src="{{media.video_file.url}}" type="video/mp4">
                   </video>
                 {% endif %}
                <h4>Date posted: {{media.date_created | date:"M d, Y"}}</h4>
            </div>
            <div class="col-sm-6"  style="border-color: rgb(236, 241, 236); background-color:rgb(63, 187, 32);">
                <h3><i>The Product Image By:</i>  <b>{{media.UserDetails}}</b>.</h3><hr>
                {% if media.thumbnail %}
                   <img src="{{media.thumbnail.url}}" width="400px" height="400px">
                {% endif %}
                <h4>{{media.description|safe}}</h4>
            </div>
        </div>

       

    </div>
</div>
<p>
    <a href="{% url 'media_url' %}" class="btn btn-primary pull-right">Back</a>
</p>

{% endblock content%}

<!--The codes below explains about way retrieve data from the table uding oop-->

<!-- <div>

    <p>Enjoy {{ob.title}}</p>
    {% if ob.video_file %}
    <video width="320" height="240" controls="controls">
        <source src="{{ob.video_file.url}}" type="video/mp4">
    </video>
    {% endif %}
    {% if ob.thumbnail %}
    <img src="{{ob.thumbnail.url}}" width="320" height="240">
    {% endif %}
    <h3>Date posted: {{ob.date_posted | date:"M d, Y"}}</h3>

</div> -->