{% extends 'expert/expertbase.html' %}

{% block content %}
{% load static %}

<!-- general form elements -->
<div class="box box-primary">
    <div class="box-header with-border">
      <h2 class="box-title" style="color:rgb(7, 143, 25);"><b>Follow back (supporter)</b></h2>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
      <div class="box-body" style="background-color: rgb(196, 186, 189);">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="madiaFile">Media File</label>
            <input type="text" name="text" class="form-control" placeholder="Enter Media File">
        </div>
        <div class="form-group">
            <label for="supporterName">Supporter Name</label>
            <input type="text" name="supporter Name" class="form-control" placeholder="Enter Suppoeter Name">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Supporter Phone Number</label>
            <input type="text" name="phone_number" class="form-control" placeholder="Enter Phone Number">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Expert Phone Number</label>
            <input type="text" name="phone_number" class="form-control" placeholder="Enter Phone Number">
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" name="date_follow" class="form-control" placeholder="Enter the date.">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Check me out
          </label>
        </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <a href="{% url 'listfollowers_url' %}"><button type="submit" class="btn btn-primary">Save</button></a>
        <a href="{% url 'listfollowers_url' %}" class="btn btn-warning pull-right">Back</a>
      </div>
    </form>
  </div>
  <!-- /.box -->

{% endblock content %}